[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
clickhouse-driver = "*"
pandas = "*"
jupyter = "*"
matplotlib = "*"
scikit-learn = "*"
h3 = "*"
mlflow = "*"
pyarrow = "*"
seaborn = "*"

[dev-packages]

[requires]
python_version = "3.9"
